.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(180deg, #000, #000);
}

.upperwrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 10vh;
  padding-top: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.leftupperwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.rightupperwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  opacity: 1;
}

.link-block {
  margin-left: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  opacity: 0.7;
}

.icon:hover {
  opacity: 0.95;
}

.buttonwallet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 20px;
  background-color: transparent;
  font-family: bmg3, sans-serif;
}

.buttonwallet:hover {
  border-color: #000;
  background-color: hsla(0, 0%, 100%, 0.9);
  color: #000;
}

.middlewrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.middlewrapper.stake {
  width: 80vw;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.buttonmint {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 20px;
  background-color: transparent;
  font-family: bmg3, sans-serif;
  text-transform: uppercase;
}

.buttonmint:hover {
  background-color: hsla(0, 0%, 100%, 0.9);
  color: #000;
}

.heroheading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: bmg3, sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 5rem;
  line-height: 1;
  text-align: center;
}

.buttonwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  min-width: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container.mintcontainer {
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container.stake {
  max-width: 80vw;
}

.buttonstake {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 20px;
  background-color: transparent;
  font-family: bmg3, sans-serif;
  text-transform: uppercase;
}

.buttonstake:hover {
  background-color: hsla(0, 0%, 100%, 0.9);
  color: #000;
}

.buttonmarket {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 20px;
  background-color: transparent;
  font-family: bmg3, sans-serif;
  text-transform: uppercase;
}

.buttonmarket:hover {
  background-color: hsla(0, 0%, 100%, 0.9);
  color: #000;
}

.heroimage {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: 300px;
  height: 300px;
}

.innerbuttonwrapper {
  width: 180px;
  margin-bottom: 0px;
}

.mintpopup {
  position: absolute;
  left: auto;
  top: 66px;
  right: auto;
  bottom: auto;
  z-index: 100;
  display: none;
  width: 80vw;
  height: 35rem;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 20px;
  background-color: #000;
}

.pricevalues {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: bmg3, sans-serif;
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
}

.bold-text {
  color: hsla(0, 0%, 100%, 0.8);
}

.bold-text-2 {
  color: hsla(0, 0%, 100%, 0.8);
}

.pricetextheading {
  font-family: bmg3, sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}

.quantityvalues {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: bmg3, sans-serif;
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
}

.buttonmintaction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 20px;
  background-color: transparent;
  font-family: bmg3, sans-serif;
  text-transform: uppercase;
}

.buttonmintaction:hover {
  background-color: hsla(0, 0%, 100%, 0.9);
  color: #000;
}

.stakeassetsbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  height: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 20px;
}

.stakeleftside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 1px solid #fff;
}

.stakerightside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.leftheadingwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  border-right-style: solid;
  border-right-color: #000;
}

.rightheadingwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.buttonwrapperstake {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  height: 10%;
  min-width: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.buttonwrapperinternalstake {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  min-width: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.comingsoontext {
  font-family: bmg3, sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}

.aboutText {
  font-family: bmg3, sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.homebutton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 20px;
  background-color: transparent;
  font-family: bmg3, sans-serif;
  text-transform: uppercase;
}

.homebutton:hover {
  background-color: hsla(0, 0%, 100%, 0.9);
  color: #000;
}

.counterwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 3rem;
  margin-bottom: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.buttoncounterup {
  padding: 5px 30px;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.8);
  color: #000;
  font-size: 1rem;
  line-height: 1;
}

.buttoncounterup:hover {
  background-color: #fff;
}

.buttoncounterdown {
  padding: 5px 30px;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.8);
  color: #000;
  font-size: 1rem;
  line-height: 1;
}

.buttoncounterdown:hover {
  background-color: #fff;
}

.countervalue {
  font-family: bmg3, sans-serif;
  color: #fff;
  font-size: 2rem;
  line-height: 1.5;
}

.contentwrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .buttonwrapper {
    width: 750px;
  }

  .heroimage {
    top: auto;
    width: 250px;
    height: 250px;
  }

  .mintpopup {
    width: 80vw;
    height: 80vh;
  }

  .stakeassetsbox {
    width: 90vw;
  }
}

@media screen and (max-width: 767px) {
  .heroheading {
    font-size: 3rem;
  }

  .buttonwrapper {
    width: 500px;
  }

  .heroimage {
    width: 250px;
    height: 250px;
  }

  .innerbuttonwrapper {
    width: 150px;
  }

  .mintpopup {
    width: 90vw;
  }

  .buttonwrapperstake {
    width: 500px;
  }

  .buttonwrapperinternalstake {
    width: 500px;
  }
}

@media screen and (max-width: 479px) {
  .upperwrapper {
    padding-top: 15px;
  }

  .leftupperwrapper {
    padding-left: 10px;
  }

  .rightupperwrapper {
    padding-right: 10px;
  }

  .aboutText {
    font-size: 1rem;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .buttonwallet {
    padding: 5px 10px;
  }

  .buttonmint {
    margin-right: 0px;
    margin-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .heroheading {
    font-size: 3rem;
  }

  .buttonwrapper {
    width: 300px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .buttonstake {
    margin-right: 0px;
    margin-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .buttonmarket {
    margin-right: 0px;
    margin-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .innerbuttonwrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .pricetextheading {
    font-size: 1rem;
  }

  .buttonmintaction {
    margin-right: 0px;
    margin-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .buttonwrapperstake {
    width: 300px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .buttonwrapperinternalstake {
    width: 300px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .homebutton {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 20px;
    padding-right: 10px;
    padding-left: 10px;
    left: 0.5vw;
    top: 6vh;
    z-index: 5;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .counterwrapper {
    width: 90%;
  }
}

@font-face {
  font-family: 'bmg3';
  src: url('../fonts/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'r8mo';
  src: url('../fonts/MinecraftItalic-R8Mo.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'nmk1';
  src: url('../fonts/MinecraftBold-nMK1.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '1y1e';
  src: url('../fonts/MinecraftBoldItalic-1y1e.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}